.header{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header .header-nav{
   display: flex;
   justify-content: flex-end;
}

.header .header-nav a{
   text-decoration: none;
   transition: 200ms;

   padding: 12px 1rem;
}

.header .header-nav a:hover h4{
   color: var(--blue-color);
   transition: 200ms;
}