.portfolio-container {
   display: grid;
   flex-direction: column;
   gap: 1rem;
}

/* .portfolio-container span{
   font-weight: 600;
} */

.portfolio-container .portfolio-card-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   /* grid-template-columns: repeat(3, 1fr); */
   gap: 1rem;
}

.ver-mais-container{
   width: 100%;

   display: flex;
   justify-content: center;
}

.ver-mais-container .ver-mais-btn{
   border: 0;
   border-radius: 100px;

   padding: 10px 20px;
   color: var(--bg-color);

   font-family: 'Cascadia Code Bold', monospace;
   font-size: 1.2rem;

   transition: 200ms;
}
.ver-mais-container .ver-mais-btn:hover{
   cursor: pointer;
   opacity: 0.7;

   transition: 200ms;
}

@media screen and (max-width: 950px) {
   .portfolio-container {
      display: grid;
      justify-content: center;
      align-items: center;
   }

   .portfolio-container h2, .portfolio-container span{
      text-align: center;
   }
}