.tecnologias-container {
   padding: 50px 70px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.tecnologias-container .cards-container{
   display: flex;
   flex-direction: row;

   gap: 2rem;

   transition: 600ms;
}

@media screen and (max-width: 600px) {
   .tecnologias-container h2 {
      text-align: center;
   }

   .tecnologias-container .cards-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      flex-direction: row;
   
      gap: 2rem;
   
      transition: 600ms;
   }
}