@use '@/styles/mixins';

.container{
  margin-top: 80px;
  padding: 50px;

  display: flex;
  flex-direction: column;
  gap: 50px;

  @include mixins.media-query(md){
    padding: 35px;
  }
  @include mixins.media-query(sm){
    margin-top: 0;
    padding: 20px;
  }
}