.card-container{
   background-color: var(--bg-color);
   border: 2px solid var(--card-border-color);
   border-radius: 10px;
}

.card-portfolio {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   width: 380px;

   gap: 1rem;
   padding: 1rem;}

.card-portfolio .img-card .img{
   width: 100%;
   border-radius: 10px;
}

.card-portfolio .card-portfolio-content{
   display: grid;
   grid-template-areas: 
      "title title code-link"
      "desc desc desc"
      "tech-logos tech-logos tech-logos";
   width: 100%;
   gap: 10px;

   justify-content: space-between;
}

.card-portfolio .card-portfolio-content .title{
   grid-area: title;
}

.card-portfolio .card-portfolio-content .code-link{
   grid-area: code-link;
   text-decoration: none;

   display: flex;
   justify-content: flex-end;
}

.card-portfolio .card-portfolio-content .code-link button{
   cursor: pointer;

   border: 0;
   border-radius: 100px;
   color: var(--bg-color);
   font-family: "Cascadia Code Bold";
   padding: 0.3rem 0.5rem;

   display: flex;
   align-items: center;
   gap: 0.3rem;
}

.card-portfolio .card-portfolio-content .desc{
   grid-area: desc;
   font-size: 0.9rem;
}

.card-portfolio .card-portfolio-content .tech-logos{
   grid-area: tech-logos;

   display: flex;
   gap: 10px;
}