@font-face { 
  font-family: "Cascadia Code Semibold"; 
  src: url('../fonts/CascadiaCode-SemiBold.ttf'); 
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: "Cascadia Code Bold"; 
  src: url('../fonts/CascadiaCode-Bold.ttf'); 
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: "Segoe UI"; 
  src: url('../fonts/segoeui.ttf'); 
  font-weight: normal; 
  font-style: normal; 
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Segoe UI', sans-serif;
  color: whitesmoke;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cascadia Code Semibold', monospace;
}

h1{
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

:root{
  --bg-color: #09103B;
  --blue-color: #02A4FF;
  --card-border-color: #2A0D5B;
  --icon-color: #947ED6
}

::-webkit-scrollbar{
  background-color: var(--bg-color);
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: var(--bg-color);
}

::-webkit-scrollbar-button{
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb{
  background-color: var(--card-border-color);
  width: 100%;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb::hover{
  width: 6px;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

.font-blue-color{
  color: var(--blue-color);
}

@media screen and (max-width: 800px) {
  h1{
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.6rem;
  }
  
  h3 {
    font-size: 1.4rem;
  }
  
  h4 {
    font-size: 1.2rem;
  }
  
}
