
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Segoe UI', sans-serif;
  color: whitesmoke;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cascadia Code', monospace;
}

:root{
  --bg-color: #09103B;
  --blue-color: #02A4FF;
  --card-bg-color: #09103B;
  --card-border-color: #2A0D5B;
}

body {
  background-color: var(--bg-color);
}
