@use '@/styles/colors';

.container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
  
  width: 100%;
  position: relative;
  z-index: 1;

  .tag{
    border: 2px solid colors.$background-level2-color;
    border-radius: 3000px;
    padding: 5px 10px;
  
    display: flex;
    align-items: center;
    gap: 5px;
    
    flex-shrink: 0;
    white-space: nowrap;
    position: relative;
    
    // Garantir que não haja sobreposição
    margin: 0;
    box-sizing: border-box;
  }
}