.habilidades-container {
   padding: 50px 70px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.habilidades-container .cards-container{
   display: flex;
   flex-direction: row;
   gap: 1rem;
}

@media screen and (max-width: 600px) {
   .habilidades-container .cards-container{
      display: flex;
      flex-direction: column;
   }
}