.project-container{
   background-image: url("/bg-section-1.svg");
   background-size: cover;
   background-repeat: no-repeat;

   width: 100%;
   height: auto;

   padding: 50px 70px;

   display: flex;
   flex-direction: column;
   gap: 30px;
}

@media screen and (max-width: 800px) {
   .project-container{
      background-image: url("/bg-section-1.svg");
      background-size: cover;
      background-repeat: no-repeat;
   
      width: 100%;
      height: auto;
   
      padding: 20px 20px;

      display: flex;
      flex-direction: column;
      gap: 30px;
   }
}

@media screen and (max-width: 1060px) {
   .project-container{
      background-image: url("/bg-section-1.svg");
      background-size: cover;
      background-repeat: no-repeat;
      
      width: 100%;
      height: auto;
   
      padding: 20px 20px;

      display: flex;
      flex-direction: column;
      gap: 30px;
   }
}
