@use '@/styles/colors';

.footer {
  background-color: colors.$background-level1-color;
  padding: 50px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    &.left{
      align-items: flex-start;
    }

    &.right{
      align-items: flex-end;
    }

    .links{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .buttonsWrapper{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}