.sobre-mim-container {
   padding: 50px 70px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.sobre-mim-container p {
   font-size: 1rem;

   margin: 0 15%;
   text-align: center;
}