.card-container{
   background-color: var(--bg-color);
   border: 3px solid var(--card-border-color);
   border-radius: 10px;
}

.card-project {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   width: 380px;
}

.card-project .img-card .img{
   width: 100%;
   border-radius: 7px 7px 0px 0px;
   aspect-ratio: 16 / 9;
}

.card-portfolio .img-card a{
   text-decoration: none;
}

.card-project .img-card .hover-link{
   position: absolute;
   z-index: 40;

   opacity: 0;

   backdrop-filter: blur(3px);
   -webkit-backdrop-filter: blur(3px);
   transition: 200ms;

   width: 374px;
   height: 210px;
   border-radius: 7px 7px 0px 0px;
   aspect-ratio: 16 / 9;

   display: flex;
   justify-content: center;
   align-items: center;

   margin-bottom: -194px;
}
.card-project .img-card .hover-link:hover{
   opacity: 1;
   cursor: pointer;

   background-color: rgba(17, 17, 17, 0.315);
   backdrop-filter: blur(3px);
   -webkit-backdrop-filter: blur(3px);
   transition: 200ms;

   width: 374px;
   height: 210px;
   border-radius: 7px 7px 0px 0px;

   display: flex;
   justify-content: center;
   align-items: center;

   margin-bottom: -194px;
}

.card-project .img-card .hover-link button{
   cursor: pointer;

   background-color: black;
   padding: 0.5rem 1rem;
   border: 0;
   border-radius: 500px;

   display: flex;
   align-items: center;
   text-decoration: none;
   gap: 0.5rem;
}

.card-project .img-card .hover-link button .open-in{
   font-family: 'Cascadia Code Semibold' !important;
   font-weight: 500;
}

.card-project .card-project-content{
   display: grid;
   grid-template-areas: 
      "title title code-link"
      "desc desc desc"
      "tech-logos tech-logos tech-logos";
   
   width: 100%;
   height: 100%;
   gap: 10px;
   justify-content: end;
   
   padding: 15px 20px;
}

.card-project .card-project-content .title{
   grid-area: title;
}

.card-project .card-project-content .code-link{
   grid-area: code-link;
   text-decoration: none;

   display: flex;
   flex-shrink: 0;
   justify-content: flex-end;
}

.card-project .card-project-content .code-link button{
   cursor: pointer;

   height: 30px;

   border: 0;
   border-radius: 100px;
   color: var(--bg-color);
   font-family: "Cascadia Code Bold";
   padding: 0.3rem 0.5rem;

   display: flex;
   align-items: center;
   gap: 0.3rem;

   transition: 200ms;
}

.card-project .card-project-content .code-link button:hover{
   opacity: 0.7;
   transition: 200ms;
}

.card-project .card-project-content .desc{
   grid-area: desc;
   font-size: 0.9rem;
}

.card-project .card-project-content .tech-logos{
   grid-area: tech-logos;
   display: flex;
   align-items: flex-end;
   gap: 10px;
}

@media screen and (max-width: 600px) {
   .portfolio-card-container{
      display: grid;
      justify-content: center !important;
      align-items: center;
   }
}

@media screen and (max-width: 950px) {
   .portfolio-card-container{
      display: grid;
      justify-content: center !important;
      align-items: center;
   }
}