.social-links{
   display: flex;
   align-items: center;
   gap: 45px;
}

.social-links .link .btn-link{
   border: 0;
   background-color: transparent;
   cursor: pointer;
}

.social-links .link .btn-link:hover > svg{
   transition: 200ms;
   fill: var(--blue-color) !important;
}  

.social-links .link svg{
   transition: 200ms;
   fill: white;
}  